tmp.py
pysql.py
*.yaml
*.pyc
*.json
*.jpg
*.JPG
*.log
*.pth
PypI/mmdet_taeuk4958/build/
PypI/mmdet_taeuk4958/dist/
PypI/mmdet_taeuk4958/mmdet_taeuk4958.egg-info/
PypI/pipeline_taeuk4958/build/
PypI/pipeline_taeuk4958/dist/
PypI/pipeline_taeuk4958/pipeline_taeuk4958.egg-info/

id_rsa

nohup.out

/ann_daataset
/result
/train_dataset 
start.sh