tmp.py
*.yaml
*.pyc
*.json
*.jpg

PypI/pipeline_taeuk4958/build/
PypI/pipeline_taeuk4958/pipeline_taeuk4958.egg-info/

PypI/mmdet_taeuk4958/build/
PypI/mmdet_taeuk4958/mmdet_taeuk4958.egg-info/
/dataset
